/*---------------------------------*/
/* Styles for all pages */
/*---------------------------------*/

html, body, h1, h2, h3, h4, ul, ol, li, p, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;

}

/* styling */

h1 {
	color: #5f3f20;
	text-align: center;
	font-size: 26px;
	padding-bottom: 5px;
}
h2 {
	font-size: 20px;
	padding: 5px 0 5px 0;
}

a {
	color: inherit;
}
p {
	margin: 0 0 10px 0;
}

/* Header */


.header {
	background: #855b2e;
	margin: 0 100px 0 100px;
	padding-bottom: 0px;
	height: 100%;
	padding-top: 10px;
	min-width: 1070px;
	text-align: center;
	overflow: hidden;
}
.header img{
	height: 130px;
	position: relative;
	float:left;
	padding: 0px 0px 0px 20px;

}

.header h1 {
	color: #f9f7e9 ;
	margin-right: 100px;
	position: relative;
	text-align: center;
	font-size: 75px;
	font-family: Papyrus, Segoe Print;

}
.header div{
	display: inline;
}

/* Navigation */
.navigation {
	color: #fff3e5;
	background: #855b2e;
	margin: 0 100px 0 100px;
	padding: 0 20px 5px 50px;
	border: 0px solid #624c27;
	text-align: center;
	z-index: 2;


}

.navigation li {
	display: inline;
	padding: 5px 20px 5px 20px;
	margin: 0;
	position: relative;

}
.navigation li ul {
	display:none;
	padding: 0px;
	font-size: 15px;
	width: 700px;
	margin: 0 auto 0 auto;
	position: relative;

}
.navigation li ul li {
	padding: 7px 5px 10px 5px;
	position: relative;
	display: inline-block;
	margin: none;
}

.navigation li:hover {
	background: #adad85;
	color:#f9f7e9;
}

.navigation li:hover ul {
	width: 100%;
	display: block;
	float: left;
	position: relative;
	background: #855b2e;
	margin: 0 auto 0 auto;
	text-align: center;



}

.selected {
	color:#adad85;
}


.navigation a{
	z-index: 2;
}




/* Body div */

body {
	padding: 0 0 0 10px;
	background: #555555 url(images/Background.png) top left;
	background-size: cover;
	color: #444444;
	font-family: Helvetica, Arial, "Times New Roman", sans-serif;
	min-width: 1270px;
	overflow: scroll;
	background-attachment: fixed;
}


/* Content */


.content {
	background: #f9f7e9;
	padding: 30px 15px 15px 15px;
	margin: 0 100px 0 100px;
	border: 0px solid #815a31;
	border-top: 0;
	overflow: auto;
}

/* Footer */
.footer p{
	text-align: center;
	padding: 10px;
}


/*---------------------------------*/
/* Home */
/*---------------------------------*/



.home .content img {
	width: 175px;
	float: right;
	padding: 10px 30px 10px 50px;
}

.home .content p {
	font-size: 20px;
	text-align: center;
	padding: 10px 50px 10px 30px;

	font-style: italic;
	color: #444444;

}
.home h2 {
	color: #5f3f20;
	font-family: Papyrus, Segoe Print;
	text-align: center;
	font-size: 40px;
	margin-top: 100px;
}

/*---------------------------------*/
/* Track My Progress */
/*---------------------------------*/

.track .content {
	overflow: hidden;

}
.accounts {
	width: 33%;
	float: left;

}

/*---------------------------------*/
/* Contact */
/*---------------------------------*/
.contact h2{
	text-decoration: underline;
}

.contact p{
	padding: 0;
	margin: 0;

}

.contact .column {
	width: 50%;
	float: left;
	text-align: center;
}
.contact img{

}

/*---------------------------------*/
/* Projects */
/*---------------------------------*/



.projects .content img {
	width: 200px;
	float: right;
	padding: 0px 30px 10px 10px;
}

.projects .website {
	height: 150px;
}


/*---------------------------------*/
/* Resume */
/*---------------------------------*/

.resume .content img{
	width: 900px;
	padding:0;
	margin: 0 70px 0 70px;
	border: 2px solid #adad85;
}

/*---------------------------------*/
/* Affiliated Organizations */
/*---------------------------------*/

.affiliate .content img{
	width: 200px;
	float: left;
	padding: 0px 30px 10px 10px;
}

.affiliate .acm {
	height: 150px;
	border: 2px dashed #444444;
	padding: 10px;
	margin: 10px;
}

.affiliate .sdc {
	height: 200px;
	border: 2px dashed #444444;
	padding: 10px;
	margin: 10px;
}

.affiliate .swe {
	height: 150px;
	border: 2px dashed #444444;
	padding: 10px;
	margin: 10px;
}

.affiliate .akpsi {
	height: 150px;
	border: 2px dashed #444444;
	padding: 10px;
	margin: 10px;
}

.affiliate .nsbe {
	height: 200px;
	border: 2px dashed #444444;
	padding: 10px;
	margin: 10px;
}

.affiliate .genki {
	height: 150px;
	border: 2px dashed #444444;
	padding: 10px;
	margin: 10px;
}
/*---------------------------------*/
/* Work/ Volunteer Experience */
/*---------------------------------*/

.work .content ul{
	padding-left: 35px;
}

.work img {
	width: 200px;
	float: right;
	padding: 10px 30px 10px 10px;
}

/*---------------------------------*/
/* About Me */
/*---------------------------------*/

.about .content img{
	display: inline-block;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;

}
.about .content .images {
	float: left;
	text-align: center;
	width: 100%;

}
.about .content li{
	margin-left: 20px;
}

/*---------------------------------*/
/* Education */
/*---------------------------------*/
.education .content img{
	width: 150px;
	float: left;
	padding: 0px 30px 10px 10px;
}

.education .school {
	height: 200px;
	padding: 10px;
	margin: 10px;
}




/*---------------------------------*/
/* Hobbies & Interests */
/*---------------------------------*/
.hobbies .content h2 {
	padding-bottom: 15px;
}

.hobbies .content p {
	padding-left: 5px;
}
