.about .content {
    display: flex;
    justify-content: space-between;
}

.about-image{
    height: 15vmax; 
    margin-right: 1em;
    float: right;
}

.affiliate-organizations h6{
    display:inline;
}

.affiliate-organizations a{
    color: #212529;
}

.affiliate-organizations a:hover{
    color: #adad85;
}