.about .content {
    display: flex;
    justify-content: space-between;
}

.about-image{
    margin-right: 1em;
    float: left;
}

.about .card-deck{
    flex-flow: column wrap;
}

.about .card {
    margin: 1em;
}

.about .card-img {
    width: 150px;
}

.about .media {
    margin: .5em;
    padding: .5em;
    border: 2px dashed;
}