.app {
    background-color: white;
    margin: 1em;
    opacity: .80;
    border-radius: 15px;
    overflow: hidden;
}

.app .content {
    padding: 1em;
}

h1 {
    font-size: 8.0vmin;
}

h2 {
   font-size: 8.0vmin; 
}

p {
    font-size: 4.0vmin;
}