.home h2 {
    font-family: Papyrus, Segoe Print;
}

.home p {
    font-style: italic;
}

.homePhoto {
    display: inline;
    height: 15em;    
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}