.navbar {
    background-color: #855b2e;
    display:flex;
    justify-content: space-between;
}

.brandContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: Papyrus, Segoe Print;
    font-size: 12vmin;
}

.navbar a{
    font-size: 2.0vmax;
}