/*Overwrites reactstraps css*/
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.navigationBar .navbar {
    background-color: #855b2e;
    display:flex;
    justify-content: space-between;
}

.brandContent {
    font-size: 6.25vmin;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Special Elite', cursive;
}

.navbar p {
    font-style: italic;
    color: hsla(0,0%,100%,.5);
    font-family: 'Special Elite', cursive;
}

.navbar a{
    color: hsla(0,0%,100%,.5);
}

.navbar a:hover{
    color: white;
}

.navbar-toggler{
    color: hsla(0,0%,100%,.5);
}