/*Overwrites reactstraps css*/
.navigationBar .navbar {
    background-color: #855b2e;
    display:flex;
    justify-content: space-between;
}

.brandContent {
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: Papyrus, Segoe Print;
}

.navbar a{
    color: hsla(0,0%,100%,.5);
}

.navbar a:hover{
    color: white;
}